:root {

  /* Float Variables */
  --color_s: 4;
  --color_m: 12;
  --color_l: 26;
  --radius_radiuss: NaNrem;
  --radius_radiusm: NaNrem;
  --radius_radiusl: NaNrem;

  /* Color Variables */
  --color_red0: hsl(0 100% 33%);
  --color_red500: hsl(62 88% 60%);
  --color_red900: hsl(0 100% 84%);
  --color_colorwarning: hsl(NaN NaN% NaN%);
  --color_colordanger: hsl(NaN NaN% NaN%);
}
